<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>图书管理系统</title>

    <script src="static/js/jquery-3.5.1.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <style>
        .navbar {
            background-color: #444444;
        }
        .thumbnail img {
            width: auto;
        }
        .table {
            margin-top: 5%;
        }
    </style>
</head>
<body>
<!-- 导航条 -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">池哥图书馆</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/stuBook}">书本信息</a></li>
                <li><a th:href="@{/stuBorrow}">借阅记录</a></li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Enter</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" class="dropdown-toggle glyphicon glyphicon glyphicon-user" data-toggle="modal" data-target="#1" role="button" th:text="${session.stuName}"></a>
                    <input type="text" style="display: none" id="hidden_btn" th:value="${session.stuId}">
                </li>
                <li><a th:href="@{/}">退出</a></li>
            </ul>
        </div>
    </div>
</nav>


<!--信息表和分页-->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>图书信息</h2>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <td>编号</td>
                    <td>书名</td>
                    <td>作者</td>
                    <td>出版社</td>
                    <td>状态</td>
                    <td>操作</td>
                </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <span id="span"></span>
        </div>
        <div class="col-md-4" id="pi"></div>
    </div>
</div>

<!-- 模态框 -->
<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modal_name"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="modal_form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">编号</label>
                        <div class="col-sm-10">
                            <span class="help-block" id="in_bookId" name="bookId"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">书名</label>
                        <div class="col-sm-10">
                            <span class="help-block" id="in_bookName" name="bookName"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">借书时间</label>
                        <div class="col-sm-10">
                            <input type="text" id="in_borrowDate" name="borrowDate" class="form-control" placeholder="借书时间">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">还书时间</label>
                        <div class="col-sm-10">
                            <input type="text" id="in_returnDate" name="returnDate" class="form-control" placeholder="还书时间">
                            <span class="help-block"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <input type="button" class="btn btn-primary" id="save" value="完成">
            </div>
        </div>
    </div>
</div>
<script src="/static/js/stuBook.js"></script>
</body>
</html>